{% extends "base.html" %}
{% block head_scripts %}
        <style>
        .location-listing > .row > .col-md-6:nth-child(2n+1) {
            clear: both;
        }

        iframe:focus {

            outline: none;
        }

        iframe[seamless] {
            display: block;
        }

        dl {
          width: 100%;
          overflow: hidden;
        }

        dt {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }

        dd {
          float: left;
          width: 50%;
          /* adjust the width; make sure the total of both is 100% */
        }

        .chartLabel {
            font: 16px sans-serif;
            fill: #666;
        }
        .arcLabel {
            font: 10px sans-serif;
            fill: #fff;
        }
        </style>

        <script src="/static/js/d3.min.js"></script>
        <script src="/static/js/d3.tip.v0.6.3.js"></script>
    
{% endblock %}

{% block content %}
	 <!-- Page Content -->
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<div class="container">

        
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Classifications
					<small>View realtime classifications</small>
				</h2>
			</div>


		</div>

        <!-- Page Header -->

    <div class="row clearfix" id="content-row">
        <div class="col-xs-12 column">
            <h3>Current positions</h3>
        </div>
    </div>
    <div id="map" style="height: 600px; width: 80%;">
    </div>
    <br>
    <br>

    <script>

            var location_cord_hash = {
                'science and engineering library': [40.810055, -73.962005],
                'pupin hall': [40.810050, -73.961360],
                'joe caffe': [40.810263, -73.961835],
                'schapiro center for engineering and physical science research': [40.809627, -73.960819],
                'davis auditorium': [40.809563, -73.960734],
                'mudd building': [40.809318, -73.959900],
                'cs department': [40.809011, -73.959790],
                'engineering terrace garage': [40.808877, -73.959949],
                'columbia business school': [40.809005, -73.961248],
                'uris hall': [40.808926, -73.961360],
                'butler library': [40.806396, -73.963218],
                'lerner hall': [40.806999, -73.964025],
                'unknown': [40.807544, -73.962583]
            };
            
            var locations = [];
            
            {% for user in data['locations'] %}
                var usr_location_hash = {};
                usr_location_hash["usr_name"] = '{{ user }}';
                usr_location_hash["usr_location_name"] = '{{ data["locations"][user]["location"] }}';
                usr_location_hash["usr_location_cord"] = location_cord_hash['{{ data["locations"][user]["location"] }}'.split(" - ")[0].toLowerCase()];
                usr_location_hash["usr_last_seen"] = '{{ data["locations"][user]["time"] }}';
                locations.push(usr_location_hash);
            {% endfor %}
            
            console.log(locations);

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 16,
              center: new google.maps.LatLng(40.807544, -73.962583),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();

            var marker, i;

            for (i = 0; i < locations.length; i++) { 
              var usr_lat = locations[i]["usr_location_cord"][0];
              var usr_lng = locations[i]["usr_location_cord"][1];
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(usr_lat, usr_lng),
                map: map
              });

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  var content = "<h4>" + locations[i]["usr_name"] + "</h4>" +
                                "<p>Location: " + locations[i]["usr_location_name"] + "</p>" +
                                "<p>Last seen: " + locations[i]["usr_last_seen"] + "</p>";

                  infowindow.setContent(content);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
    </script>                    
    <script>
        var superdata;
        window.setInterval(function() {
          $.getJSON("./getalllocations", {
             group: "{{ data['group'] }}"
            },
            function(data) {
                superdata = data
            {% for user in data['locations'] %}
                $('#{{ user }}time').text(data['locations']['{{ user }}']['time'])
                $('#{{ user }}location').text(data['locations']['{{ user }}']['location'])
                var agg2 = { label: '' }
                agg2['pct'] = eval(data['locations']['{{ user }}']['pcts']);
                if (eval(data['locations']['{{ user }}']['labels'])[0] != labels{{ user }}[0]) {
                    location.reload();
                }
                updateChart{{user}}(agg2);
            {% endfor %}
          });
        }, 1500);
    </script>

{% endblock %}
